process {
  executor = 'slurm'
  queue = 'htc'
  maxRetries = 3
  errorStrategy = { task.attempt <= 3 ? "retry" : "finish" }
  beforeScript = '''
module load nextflow/23.10.1
'''
  clusterOptions = '--mem-per-cpu=2000'
}

executor {
  perCpuMemAllocation = true
}

process {
  withName: 'GATK4_MARKDUPLICATES' {
    cpus = 32
    memory = 60.GB
  }
}

process {
  withName: 'LEARNREADORIENTATIONMODEL' {
    cpus = 64
    memory = 120.GB
  }
}

